:root {
    --roboto: 'Roboto', sans-serif;
    --blue: #5836e5;
    --blue-tr: rgb(88 54 229 / .7);
}

* {
    font-family: var(--roboto) !important;
}

.height-scr {
    height: 100vh !important;
    width: 100%;
}

.fwhite {
    color: #fff !important;
}

.bg-blue {
    background-color: var(--blue) !important;
}

.bg-blue-tr {
    background-color: var(--blue-tr) !important;
}

/* bootstrap revisi */
.navbar-toggler {
    border: none !important;
    padding: 0 !important;
    height: 32px;
    box-shadow: none !important;
}

.hamburger::after {
    content: '';
    display: block;
    height: 4px;
    width: 30px;
    background-color: #fff;
    border-radius: 2px;
    margin-top: 10px;
    z-index: -1;
    position: absolute;
}

.hamburger::before {
    content: '';
    display: block;
    height: 4px;
    width: 30px;
    background-color: #fff;
    border-radius: 2px;
    margin-top: -10px;
    z-index: -1;
    position: absolute;
}

.hamburger {
    display: block;
    height: 4px;
    width: 30px;
    background-color: #fff;
    border-radius: 2px;
    position: relative;
    z-index: 1;
    transform: scale(.8);
    transition: .3s;
}

.navbar-toggler:hover .hamburger {
    transform: scale(1);
}

.nav-link {
    color: #eaeaea !important;
}

.nav-link:hover {
    color: #fff !important;
}

.btn-dark:hover {
    filter: brightness(.8);
}

.shadow-tr {
    filter: drop-shadow(12px 12px 5px rgb(0 0 0 / .5));
}

/* Home */
#home {
    background-image: url(../asset/img/bg-lp.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


/* SKILL */
#skill .bar-container {
    height: 15px;
    width: 100%;
    background-color: white;
}

.bar-container .bar {
    height: 15px;
    width: 0%;
    background-color: var(--blue);
}

.bar-container .html {
    animation: html 2s ease-out infinite alternate;
}

.bar-container .css {
    animation: css 2s ease-out infinite alternate;
}

.bar-container .js {
    animation: js 2s ease-out infinite alternate;
}

.bar-container .bootstrap {
    animation: bootstrap 2s ease-out infinite alternate;
}


@media (max-width: 767px) {
    #desc {
        order: 2;
    }

    #pp {
        order: 1;
    }
}

@keyframes html {
    0% {
        width: 0%;
    }

    50% {
        width: 80%;
    }

    100% {
        width: 80%;
    }
}

@keyframes css {
    0% {
        width: 0%;
    }

    50% {
        width: 90%;
    }

    100% {
        width: 90%;
    }
}

@keyframes js {
    0% {
        width: 0%;
    }

    50% {
        width: 70%;
    }

    100% {
        width: 70%;
    }
}

@keyframes bootstrap {
    0% {
        width: 0%;
    }

    50% {
        width: 98%;
    }

    100% {
        width: 98%;
    }
}